{% extends "layout.html" %} {% block content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="./grafica">Grafica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Prediccion</a>
            </li>
        </ul>
    </div>
    <br>
    <div class="card-body">
        <h1>Ingresar archivo .csv para las graficas</h1>
        <br>
        <form action="/grafica" method="post" enctype="multipart/form-data" <>
            <input type="file" name="file">
            <input type="submit" value="Cargar">
        </form>
    </div>
    <br>
    <div class="card-body">
        <h1>Ingresar archivo .xlsx para la prediccion</h1>
        <br>
        <form action="/prediccion" method="post" enctype="multipart/form-data" <>
            <input type="file" name="file">
            <input type="submit" value="Cargar">
        </form>
    </div>
</div>
<br> {% endblock %}