{% extends "layout.html" %} {% block content %}
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="./grafica">Gráfica Hurtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="./modelo">Modelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./prediccion">Prediccion</a>
            </li>
        </ul>
    </div>



    <form method="post" enctype="multipart/form-data" action="/archivo">
     <div>
       <label for="file">Seleccionar el archivo para prediccion:</label>
       <input type="file"
           id="file" name="file"
           accept="*">
     </div>
     <div>
       <button>Submit</button>
     </div>
    </form>
</div>


{% endblock %}