{% extends "layout.html" %} {% block content %}
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="./grafica">Gráfica Hurtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="./modelo">Modelo</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <center>
            <img width="600" height="600" src="data:image/png;base64,{{imagen.imagen1}}">
        </center>
    </div>
</div>


{% endblock %}